{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {},
  "root": true,
  "rules": {
    "arrow-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error"
    ],
    "keyword-spacing": [
      "error"
    ],
    "no-unused-expressions": [
      "error"
    ],
    "no-var": [
      "error"
    ],
    "prefer-const": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error"
    ],
    "space-before-blocks": [
      "error"
    ],
    "space-before-function-paren": [
      "error"
    ],
    "space-infix-ops": [
      "error"
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "strict": [
      "error",
      "safe"
    ],
    "valid-jsdoc": [
      "warn",
      {
        "requireReturn": false
      }
    ]
  }
}
